@model cms_stock.Models.Dominio.Entidades.ArtCentroCusto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adicionar artigo</h1>

<h4>Centro de Custo: @ViewBag.nomeccusto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-CentroCustoId="@ViewBag.ccusto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Artigo
                <select asp-for="ArtigoId" class="form-control" asp-items="ViewBag.ArtigoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Qtd" class="control-label"></label>
                <input asp-for="Qtd" class="form-control" />
                <span asp-validation-for="Qtd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
