<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ricardo Mota, Lda</title>
    <link rel="icon" type="~/image/png" sizes="16x16" href="~/images/favicon.png">
    <link href="~/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="nav-header">
            @{
                if (Context.Request.Cookies["adm_cms_dv"] != null) {
                    <a href="/">
                        <img src="~/images/logo_rm.png" alt="Logotipo">
                    </a>
                }
                else
                {
                    <a href="/centrocustos/indexuser">
                        <img src="~/images/logo_rm.png" alt="Logotipo">
                    </a>
                }
            }
        </div>
        <div class="header">    
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>  
                <div class="header-right">
                    <ul class="clearfix">        
                         <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="~/images/user/1.png" height="40" width="40" alt="">
                            </div>                         
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Sair</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-link menu-icon"></i><span class="nav-text">Artigos</span>
                        </a>
                        @{ if (Context.Request.Cookies["adm_cms_dv"] != null)
                                        {
                            <ul aria-expanded="false">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Artigos" asp-action="Index">Lista de Artigos</a></li>
                            </ul> }
                                        else
                                        {
                            <ul aria-expanded="false">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Artigos" asp-action="IndexUser">Lista de Artigos</a></li>
                            </ul> } }
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-link menu-icon"></i><span class="nav-text">Movimentos Artigos</span>
                        </a>
                        @{ if (Context.Request.Cookies["adm_cms_dv"] != null)
                                        {
                            <ul aria-expanded="false">
                                <li><a class="dropdown-item" asp-area="" asp-controller="ArtCentroCustos" asp-action="Index">Movimentos</a></li>
                            </ul> }
                                        else
                                        {
                            <ul aria-expanded="false">
                                <li><a class="dropdown-item" asp-area="" asp-controller="ArtCentroCustos" asp-action="IndexUser">Movimentos</a></li>
                            </ul> } }
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-user menu-icon"></i><span class="nav-text">Funcionários</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Funcionarios" asp-action="Index">Lista de Funcionários</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-user menu-icon"></i><span class="nav-text">Movimentos Funcionários</span>
                        </a>
                        @{ if (Context.Request.Cookies["adm_cms_dv"] != null)
                                        {
                            <ul aria-expanded="false">
                                <li><a class="dropdown-item" asp-area="" asp-controller="FuncCentroCustos" asp-action="Index">Movimentos</a></li>
                            </ul> }
                                        else
                                        {
                            <ul aria-expanded="false">
                                <li><a class="dropdown-item" asp-area="" asp-controller="FuncCentroCustos" asp-action="IndexUser">Movimentos</a></li>
                            </ul> } }
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-support menu-icon"></i><span class="nav-text">Equipamentos</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Equipamentos" asp-action="Index">Lista de Equipamentos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-support menu-icon"></i><span class="nav-text">Movimentos Equipamentos</span>
                        </a>
                        @{ if (Context.Request.Cookies["adm_cms_dv"] != null)
                                        {
                            <ul aria-expanded="false">
                                <li><a class="dropdown-item" asp-area="" asp-controller="EquiCentroCustos" asp-action="Index">Movimentos</a></li>
                            </ul> }
                                        else
                                        {
                            <ul aria-expanded="false">
                                <li><a class="dropdown-item" asp-area="" asp-controller="EquiCentroCustos" asp-action="IndexUser">Movimentos</a></li>
                            </ul> } }
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-file menu-icon"></i><span class="nav-text">Requisições</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Requisicoes" asp-action="Index">Novas Requisições</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Requisicoes" asp-action="Concluded">Arquivo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        @RenderBody()
    </div>

    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>
    <script src="~/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

<div class="footer">
    <div class="copyright">
        <p>Copyright &copy; DV Business 2022</p>
    </div>
</div>