@model cms_stock.Models.Dominio.Entidades.FuncCentroCusto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutQuixlab.cshtml";
}

<div class="content-body">
    <div class="card">
        <div class="card-body">
            <h1>Editar</h1>
            <h4>Funcionário por Centro de Custo</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            Data
                            <input asp-for="Data" class="form-control" />
                            <span asp-validation-for="Data" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            Centro de Custo
                            <select asp-for="CentroCustoId" class="form-control" asp-items="ViewBag.CentroCustoId"></select>
                            <span asp-validation-for="CentroCustoId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            Funcionário
                            <select asp-for="FuncionarioId" class="form-control" asp-items="ViewBag.FuncionarioId"></select>
                            <span asp-validation-for="FuncionarioId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Qtd" class="control-label"></label>
                            <input asp-for="Qtd" class="form-control" />
                            <span asp-validation-for="Qtd" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Voltar</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }

        </div>
    </div>
</div>